.container-singleservice{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    margin:80px;
    gap: 20px;
}

.left{
    width: 500px;
}

.right{
    width: 400px;
    height: 200px;
}
.right img{
    object-fit: cover;
    width: 400px;
    height: 200px;
}